*{
    margin: auto;
}
body{
    margin: auto;
    background-color: black;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    padding-top: 1vh;
}
p{
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 10vh;
}